@import "../../assets/styles/variables";

.bandlist-component {
   margin: 5%;
  .card{
    // width: 30%;
    padding: 15px;
    margin-bottom: 10px;
    
    .card-img{
      height: inherit;
      width: inherit;
    }
  }
}
