@import "../../assets/styles/variables";

.bandlist-component {
   margin: 5%;

   .card.selected{
    background: #aaaab36b;
   }
   >div{
    padding: 15px;
    margin: 10px;
    height: 300px;
    width: 30%;
    display: inline-block;

  }
}


@media only screen and (max-width: 800px) {
  .bandlist-component {
   
    >div{
     width: 100%;
     height: 100%;
   }
 }
}